@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */
:root{
    --primary-color: #000;
    --secondary-color: #ffff;
    --tertiary-color: #eeebeb;
}

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Grid layout setup */
.container{
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
    height: 100vh;
}

.header{
    background-color: var(--secondary-color);
    grid-area: header;
}

.sidebar{
    background-color: var(--primary-color);
    grid-area: sidebar;
    height: 100%;
}

.main{
    background-color: var(--tertiary-color);
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
     grid-template-areas: 
     "c1 c2 c2"
     "c3 c2 c2"
     "c4 c5 c6"
     ;
     padding: 10px;
     height: 100%;
}

.card{
    background-color: var(--secondary-color);
    border-radius: 7px;
}

.card:nth-child(1){
    grid-area: c1;
}

.card:nth-child(2){
    grid-area: c2;
}

.card:nth-child(3){
    grid-area: c3;
}

.card:nth-child(4){
    grid-area: c4;
}

.card:nth-child(5){
    grid-area: c5;
}

.card:nth-child(6){
    grid-area: c6;
}


@media (max-width: 768px){

    .container{
        display: grid;
        grid-template-rows: 60px 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
        "header"
        "main"
        ;
    }

    .sidebar{
        display: none;
    }
}

@media(max-width: 768px){
    .main{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: initial;
    }

    .card{
        grid-area: initial !important;
    }

    .sidebar{
        display: none;
    }
}

@media(max-width: 425px){
    .main{
        display: grid;
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "c1"
        "c3"
        "c4"
        "c2"
        "c5"
        "c6"
        ;
    }

    .card:nth-child{
        grid-area: initial;
    }
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

header .logo {
    font-size: 1.3rem;
    font-weight: 500;
}

header ul li {
    font-size: 1rem;
    font-weight: normal;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}

ul li {
    text-decoration: none;
    list-style: none;
    padding-left: 17px;
    text-align: center;
}

ul li svg{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li .profile{
    height: 15px;
    width: 17px;
}

@media (max-width: 576px) {
    header .logo {
        font-size: 1rem;
    }

    ul li {
        display: none;
    }

    ul li:nth-last-child(1),
    ul li:nth-last-child(2) {
        display: inline-block;
    }
}

/* sidebar */
.sidebar {
    color: var(--secondary-color);
}

.sidebar{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    overflow: hidden;
}

.side-logo{
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-items{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1rem;
}

aside div {
    padding-top: 7px;
    padding-left: 8px;
}

aside div:nth-child(3){
    padding-bottom: 15px;
}

aside div:nth-child(8){
    padding-bottom: 15px;
}

aside .menu-items i {
    padding-right: 10px;
}

@media (max-width: 768px){
    .sidebar{
        display: none;
    }
}

/* main */
/* sales card */
.sales-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.sales-card .fa-chart-line{
    height: 15px ;
    width: 15px ;
}

.sales-card div:nth-child(2){
    font-size: 1.2rem;
}

.sales-card div:nth-child(3) {
    font-size: 1.6rem;
    font-weight: 500;
}

/* purchase card */
.purchase-card {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.purchase-card span {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.purchase-card .amt {
    font-weight: bold;
    color: rgb(20, 151, 202)
}

.purchase-card .qty .cost{
    display: flex;
    justify-content: space-around;
   height: inherit;
   align-items: center;
}

/* inventory card */

.inventory-card{
    text-align: center;
    height: 100%;
    padding: 8px;
}

.inventory-card span {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.inventory-card .in-hand {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 15px;
}

.inventory-card .received{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    text-align: left;
    padding-top: 6px;
}

.inventory-card .delivered{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    text-align: left;
    padding-top: 6px;
}

.inventory-card .amt {
    font-weight: bold;
    font-size: 0.9rem;
}

/* Chart */
.card .chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: max-content;
    box-sizing: border-box;
}

.card span {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   font-weight: 500;
   font-size: 1.2rem;
}

.card .chart .chart-1, 
.card .chart .chart-2 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.card .chart .chart-1 img, 
.card .chart .chart-2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
}

.card .chart .chart-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .card .chart-1 p {
        display: none;
    }
}

